# Site Information
site_name: EE-Wiki
site_url: https://ee-wiki.tidalforce.cn/
edit_uri: blob/main/docs/
site_description: 愿你能在本站学习到你所需知识并为本站的发展贡献一份力 :)
site_author: EE-Wiki Team
strict: false
# Repository Information
repo_name: '7idalForce/EE-wiki'
repo_url: 'https://github.com/7idalForce/EE-wiki'
# Copyright
copyright: 'Copyright &copy; 2021-2023 EE-Wiki Team'

# Contents nav
nav:
  - 简介:
    - 关于我们: index.md
    - ToDo清单: intro/ToDoList.md
    - 参与建设: intro/contribute.md
    - 建设手册: intro/GuideBook.md
    - 站点运行状态: intro/status.md
    - 站点建设里程碑: intro/site-dev-log.md
  - 基础学科知识:
    - 模电:
      - 关于模电: basic-knowledge/analog-basic/index.md
    - 数电: 
      - 关于数电: basic-knowledge/digital-basic/index.md
    - C语言:
      - 关于C语言: basic-knowledge/c-lang/index.md
    - VerilogHDL:
      - 关于VerilogHDL: basic-knowledge/veriloghdl-lang/index.md
  - 行业入门工具:
    - Git:
      - 关于Git: basic-tools/git/index.md
    - Markdown:
      - 关于Markdown: basic-tools/markdown/index.md
    - Vivado: 
      - 关于Vivado: basic-tools/vivado/index.md
    - Multisim:
      - 关于Multisim: basic-tools/multisim/index.md
  - 博客:
    - blog/index.md
    # - Matlab:
    #   - 关于Matlab: basic-software/matlab/index.md

#Theme Settings
theme:
  name: material
  custom_dir: overrides
  # 404 page
  static_templates:
    - 404.html
  # Necessary for search to work properly
  include_search_page: false
  search_index_only: true
  # Default values, taken from mkdocs_theme.yml
  language: zh
  font:
    text: hack    
    code: hack
  favicon: assets/logo-black-48px.png
  logo: assets/logo-white-32px.png
  features:
     - navigation.top
     - navigation.tabs
     - content.action.edit
  palette: 
    - scheme: default
      toggle:
        icon: material/lightbulb-outline
        name: Switch to dark mode
    - scheme: slate 
      toggle:
        icon: material/lightbulb
        name: Switch to light mode

# Extra Settings
extra:
  disqus: ee-wiki
markdown_extensions:
  - admonition
  - footnotes
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - attr_list
  # - pymdownx.emoji:
  #     emoji_index: !!python/name:materialx.emoji.twemoji
  #     emoji_generator: !!python/name:materialx.emoji.to_svg

plugins: 
  - search
  - blog
#pip install mkdocs-git-committers-plugin-2
  - git-committers:
      repository: 7idalForce/EE-wiki
      branch: main
#pip install mkdocs-git-revision-date-localized-plugin
  - git-revision-date-localized:
      enable_creation_date: true
      type: date
